{% extends 'base.html' %}

{% block title %}
Create Ticket |
{% endblock %}

{% block  content %}
<div class="">
    <div class="bg-gray-100 min-h-[400px] px-10 py-20 my-20">
        <div class="max-w-sm mx-auto">
            <form action="{% url 'create_ticket' %}" method="post" class="">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="create" class="px-6 py-3 rounded-xl bg-teal-400 text-white mx-auto">
            </form>
        </div>
    </div>
    
</div>
{% endblock %}