<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title %}{% endblock %} |Ticketing System</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    {% if messages %}
    {% for message in messages %}
    <div class="">
        <span class="">
            {{message}}
        </span>
    </div>
    {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock %}
</body>
</html>